.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
}

select, input[type="time"] {
    margin-bottom: 10px;
}
